body{
  color:#7aceff;
  text-align:center;
  font-family:Comic Sans MS;
}
.header{
    text-decoration:underline;
}
.{
filter: brightness(1);
    transition: filter 10s;
}
.KkFss:hover{
  filter: brightness(20);
}
KkFss.reasons{
  text-align:left;
}
